
.img{
    justify-content: center;

}
.para{
    border:solid;
}
.h3{
    font:200
}
.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding:20px;
    margin:10px;
}
.bodyimg{
    display:flex;
    background-image:url("Images/blackGradient.jpg");
    background-size: 100% 300px;
    color:#ffffff;
    padding: 50px;
    flex-direction:column;
    align-items: center;
}
body{
    background-color:#FAEBD7;
    margin:0px;
}
.header{
    display:flex;
    flex-wrap: wrap;
    justify-content:start;
    width:100%;
}
.menu{
    display:flex;
    justify-content:space-between;
    background-color:#aaaa;
    color:#ff0000;
    font-size:20px;
    font-family:sans-serif;  
    width:100%;
    float:right;
    padding:10px;
}
a{
    text-decoration: none;
}
.grid img{
    padding:10px;
    border: 2px solid #000000;
    border-radius: 5px;
}
.origami {
    border-radius: 20px;
    background-color: #ffffff;
    width:310px;
    font-family: fantasy;
    padding:5px;
    margin:10px;
    
}
.explanation{
    display:flex;
    padding:10;
}